{
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "expect": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "import"
  ],
  "rules": {
    "arrow-parens": 0,
    "block-scoped-var": 0,
    "comma-dangle": [
      2,
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
      }
    ],
    "import/prefer-default-export": 0,
    "new-cap": [
      2,
      {
        "properties": false
      }
    ],
    "no-console": 0,
    "no-duplicate-imports": 0,
    // Temporarily disabled due to babel-eslint issues:
    "no-underscore-dangle": [
      2,
      {
        "allowAfterThis": true
      }
    ],
    "padded-blocks": 0,
    "space-before-function-paren": [
      2,
      "never"
    ]
  },
  "settings": {
    "flowtype": {
      "onlyFilesWithFlowAnnotation": true
    }
  }
}